{{!-- {{#each comments as |comment|}}
  <div class="comment">
    <p>{{comment.content}}</p>
    <span>Posted by {{comment.User.username}}</span>
  </div>
{{/each}} --}}

{{#each this}}
  <div class="comment">
    <p>{{this.content}}</p>
    <span>Posted by {{this.User.username}}</span>
  </div>
{{/each}}