{{!-- main page using tailwind --}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My App</title>
    <link rel="stylesheet" href="/dist/styles.css" />
  </head>
  <body>
    {{> navbar}}
    <div>
      {{{body}}}
    </div>
  </body>
</html>

